web.deploy.location=C:/Program Files/Apache Software Foundation/Tomcat 6.0/webapps
gwt.sdk=C:/javaSoftware/eclipse_6/eclipse/plugins/com.google.gwt.eclipse.sdkbundle.win32_1.6.4.v200904062334/gwt-windows-1.6.4